body, html {
    width:100vw;
}
ul {
    list-style: none;
}
.contents {
    min-height:800px;
    .row {
        min-height:120px;
        .col {
            min-height:100px;
            padding-top:20px;
            padding-bottom:20px;
            text-align: center;
        }
    }
}